body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
      
.form-popup {
    border: 3px solid #f1f1f1;
    z-index: 9;
}
  
.form-container {
    padding: 10px;
    background-color: white;
}

input[type=text], input[type="file"] {
    font-size: 12px;
}

