 <html>
   {% load static %}

  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Switch template page</title>
    <meta name="description" content="Takotako Aggregates Merely Everything Remotely EasyPeasy">
    <link rel="stylesheet" href="{% static 'network/css/testtakotako.css' %}"/>
  </head>

<body>


    <p>test page</p>
<div>
  <table id='hostname'>
    <tr class='odd'>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
    </tr>
    <tr class='odd'>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>
      <td>
          <div class='tooltip'>    
              <svg width="25" height="20" viewBox="0 0 30 25" preserveAspectRatio="none" class="NodePort">
                  <polygon points="5,9 9,9 9,6 12,6 12,3 18,3 18,6 21,6 21,9 25,9 25,21, 5,21"></polygon>
              </svg>
              <span class="tooltiptext">tamere rocks</span>
          </div>
      </td>

    </tr>
  </div>    


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'network/js/ajax.js' %}"></script>
<!-- <script src="{% static 'network/js/snapshot_req.js' %}"></script> -->

</body>

</html>